body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

.text {
    text-align: center;
    width:60vw;
    z-index: 1;
    
    p {
        margin: 2% 0;
        font-size: 2.25em;
        font-family: 'Rubik', sans-serif;
        color: #3f3d55;
    }
}

.links {
    z-index: 2;
    a {
        color: #009688;
    }
}

#svg {
    position: absolute;
    bottom: 5%;
    right: 5%;
    height: 25vh;
    display: flex;
    align-self: flex-end;
    z-index: 0;
}

ion-icon {
    font-size: 64px;
}

